<div class="pizzaEdit-container">
    <div class="pizzaEdit-inner">
        <div class="pizzaEdit-titleContainer">
            <p class="pizzaEdit-title">Pizza Editor</p>
        </div>
        <div class="pizzaEdit-dataContainer">
            {{#each pizzas}}
            <div class="pizzaEdit-containerBox">
                <div class="pizzaEdit-leftBox">
                    <div class="pizzaEdit-id-title-wrap">
                        <div class="pizzaEdit-idBox">
                            <p class="pizzaEdit-id">{{PizzaID}}</p>
                        </div>
                        <div class="pizzaEdit-titleBox">
                            <div class="pizzaEdit-titleBoxInner">
                                <p class="pizzaEdit-title">{{PizzaName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="pizzaEdit-priceBox">
                        <div class="pizzaEdit-gridContainer">
                            <div class="pizzaEdit-gridLarge gE-3-3">
                                <p class="pizzaEdit-priceLarge"><b>16":</b> <i>${{PizzaLargePrice}}</i></p>
                            </div>
                            <div class="pizzaEdit-gridMedium gE-3-3">
                                <p class="pizzaEdit-priceMedium"><b>12":</b> <i>${{PizzaMediumPrice}}</i></p>
                            </div>
                            <div class="pizzaEdit-gridSmall gE-3-3">
                                <p class="pizzaEdit-priceSmall"><b>6":</b> <i>${{PizzaSmallPrice}}</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pizzaEdit-rightBox">
                    <div class="pizzaEdit-buttonContainer">
                        <div class="pizzaEdit-buttonInner">
                            <button class="pizzaEdit-buttonRemove">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                            <button class="pizzaEdit-buttonEdit">
                                <i class="fas fa-cogs"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="pizzaForm-container">
            <div class="pizzaForm-buttonContainer">
                <div class="pizzaForm-buttonInner">
                    <div class="pizzaForm-buttonTextC">
                        <p class="pizzaForm-buttonText1">Add Pizza +</p>
                    </div>
                    <button class="pizzaForm-buttonAdd" type="button"></button>
                </div>
            </div>
            <div class="pizzaForm-dataContainer">
                <form class="pizzaForm" method="POST" action="/menu/edit/pizzas">
                    <div class="pizzaForm-innerForm">
















                        {{!-- 50% width --}}
                        <div class="pizzaForm-Inner">
                            <div class="pizzaForm-container1">
                                <label for="pizzaName" class="pizzaFormLabel pizzaFormL1">Pizza Name</label>
                                <input type="text" class="pizzaForm-nameInput" placeholder="Pizza Name" />
                            </div>
                            <div class="pizzaForm-container2">
                                <label class="pizzaFormLabelTitle">Set Prices</label>
                            </div>
                            <div class="pizzaForm-containerG pF-1">
                                <label for="pizzaLargePrice" class="pizzaFormLabel pizzaFormL2">16": </label>
                                <input type="number" class="pizzaForm-largeInput" placeholder="$##.##" required
                                    step=".01" name="pizzaLargePrice" />
                            </div>
                            <div class="pizzaForm-containerG pF-2">
                                <label for="pizzaMediumPrice" class="pizzaFormLabel pizzaFormL3">12": </label>
                                <input type="number" class="pizzaForm-mediumInput" placeholder="$##.##" required
                                    step=".01" name="pizzaMediumPrice" />
                            </div>
                            <div class="pizzaForm-containerG pF-3">
                                <label for="pizzaSmallPrice" class="pizzaFormLabel pizzaFormL4">6": </label>
                                <input type="number" class="pizzaForm-smallInput" placeholder="$##.##" required
                                    step=".01" name="pizzaSmallPrice" />
                            </div>
                            <div class="pizzaForm-sauceC">
                                <label class="pizzaForm-sauceTitle">Sauces</label>
                                <div class="selected-container">
                                    <label class="selected-label">You've Selected: <input type="text" id="selected" value="" /></label>
                                </div>
                                <div class="pizzaForm-sauce">
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector1">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel1">Marinara</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector2">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel2">Alfredo</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector3">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel3">BBQ</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector4">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel4">Ranch</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector5">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel5">Bean</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector6">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel6">Buffalo</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>












                        {{!-- 50% jwidth --}}
                        <div class="ingDisplay-container">
                            <div class="ingDisplay-buttonContainer ingDisplay-button01">
                                <button type="button" class="ingButton ingB-sauces">Sauces</button>
                            </div>
                            <div class="ingDisplay-ingredients">

                            </div>
                            <div class="ingDisplay-buttonContainer ingDisplay-button02">
                                <button type="button" class="ingButton ingB-meats">Meats</button>
                            </div>
                            <div class="ingDisplay-ingredients"></div>
                            <div class="ingDisplay-buttonContainer ingDisplay-button03">
                                <button type="button" class="ingButton ingB-vegetables">Vegetables</button>
                            </div>
                            <div class="ingDisplay-ingredients"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>