<div class="pizzaEdit-container">
    <div class="pizzaEdit-inner">
        <div class="pizzaEdit-titleContainer">
            <p class="pizzaEdit-title">Pizza Editor</p>
        </div>
        <div class="pizzaEdit-dataContainer">
            {{#each pizzas}}
            <div class="pizzaEdit-containerBox">
                <div class="pizzaEdit-leftBox">
                    <div class="pizzaEdit-id-title-wrap">
                        <div class="pizzaEdit-idBox">
                            <p class="pizzaEdit-id">{{PizzaID}}</p>
                        </div>
                        <div class="pizzaEdit-titleBox">
                            <div class="pizzaEdit-titleBoxInner">
                                <p class="pizzaEdit-title">{{PizzaName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="pizzaEdit-priceBox">
                        <div class="pizzaEdit-gridContainer">
                            <div class="pizzaEdit-gridLarge gE-3-3">
                                <p class="pizzaEdit-priceLarge"><b>16":</b> <i>${{PizzaLargePrice}}</i></p>
                            </div>
                            <div class="pizzaEdit-gridMedium gE-3-3">
                                <p class="pizzaEdit-priceMedium"><b>12":</b> <i>${{PizzaMediumPrice}}</i></p>
                            </div>
                            <div class="pizzaEdit-gridSmall gE-3-3">
                                <p class="pizzaEdit-priceSmall"><b>6":</b> <i>${{PizzaSmallPrice}}</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pizzaEdit-rightBox">
                    <div class="pizzaEdit-buttonContainer">
                        <div class="pizzaEdit-buttonInner">
                            {{!-- Does a delete request. --}}
                            <button class="pizzaEdit-buttonRemove">
                                <i class="fas fa-minus-circle"></i>
                            </button>

                            {{!-- Does a put request --}}
                            <button class="pizzaEdit-buttonEdit">
                                <i class="fas fa-cogs"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="pizzaForm-container">
            <div class="pizzaForm-buttonContainer">
                <div class="pizzaForm-buttonInner">
                    <div class="pizzaForm-buttonTextC">
                        <button class="pizzaForm-buttonText1" id="addPizza">Add Pizza +</button>
                    </div>
                </div>
            </div>
            <div class="pizzaForm-dataContainer" id="dataContainerDisabled">
                <form class="pizzaForm" method="POST" action="/menu/edit/pizzas">
                    <div class="pizzaForm-innerForm">
                        {{!-- 50% width --}}
                        <div class="pizzaForm-Inner">
                            <div class="pizzaForm-container1">
                                <label for="name" class="pizzaFormLabel pizzaFormL1">Pizza Name</label>
                                <input name="pizzaname" type="text" class="pizzaForm-nameInput"
                                    placeholder="Pizza Name" />
                            </div>
                            <div class="pizzaForm-container2">
                                <label class="pizzaFormLabelTitle">Set Prices</label>
                            </div>
                            <div class="pizzaForm-containerG pF-1">
                                <label for="name" class="pizzaFormLabel pizzaFormL2">16": </label>
                                <input type="number" class="pizzaForm-largeInput" placeholder="$##.##" required
                                    step=".01" name="pizzalargeprice" />
                            </div>
                            <div class="pizzaForm-containerG pF-2">
                                <label for="name" class="pizzaFormLabel pizzaFormL3">12": </label>
                                <input type="number" class="pizzaForm-mediumInput" placeholder="$##.##" required
                                    step=".01" name="pizzamediumprice" />
                            </div>
                            <div class="pizzaForm-containerG pF-3">
                                <label for="name" class="pizzaFormLabel pizzaFormL4">6": </label>
                                <input type="number" class="pizzaForm-smallInput" placeholder="$##.##" required
                                    step=".01" name="pizzasmallprice" />
                            </div>
                            <div class="pizzaForm-sauceC">
                                <label class="pizzaForm-sauceTitle">Sauces</label>
                                <div class="selected-container">
                                    <label class="selected-label" for="name">You've Selected:
                                        <input type="text" id="selected" name="ingSauceType" />
                                    </label>
                                </div>
                                <div class="pizzaForm-sauce">
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector1">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel1">Marinara</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck1"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector2">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel2">Alfredo</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck2"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector3">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel3">BBQ</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector4">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel4">Ranch</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck4"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector5">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel5">Bean</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck5"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="pizzaForm-sauceInputC">
                                        <button class="sauceSelectorDisabled" type="button" id="sauceSelector6">
                                            <div class="sauceSelector-left">
                                                <label class="sauceLabel" id="sauceLabel6">Buffalo</label>
                                            </div>
                                            <div class="sauceSelector-right">
                                                <div class="sauceSelectorInner">
                                                    <div class="sauceCheckBox">
                                                        <i class="fas fa-check" id="sauceCheck6"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>












                        {{!-- 50% width --}}
                        <div class="ingDisplay-container">
                            <div class="ingDisplay-buttonContainer ingDisplay-button01">
                                <button type="button" class="ingButton ingB-meats">Meats</button>
                            </div>
                            <div class="ingDisplay-ingredients">

                                <div>
                                    <input type="checkbox" name="ingPepperoni" class="pep-input meat-inputs"
                                        id="pepInput" value="Pepperoni" />
                                    <label class="pep-label" for="name">Pepperoni</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingSausage" class="saus-input meat-inputs"
                                        id="sausInput" value="Sausage" />
                                    <label class="saus-label" for="name">Sausage</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingSalami" class="sala-input meat-inputs"
                                        id="salaInput" value="Salami" />
                                    <label class="sala-label" for="name">Salami</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingCanBacon" class="can-input meat-inputs"
                                        id="canInput" value="Can. Bacon" />
                                    <label class="can-label" for="name">Can. Bacon</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingBeef" class="bur-input meat-inputs" id="burInput"
                                        value="Burger" />
                                    <label class="bur-label" for="name">Burger</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingBaconBit" class="bac-input meat-inputs"
                                        id="bacInput" value="Bacon Bits" />
                                    <label class="bac-label" for="name">Bacon Bits</label>
                                </div>

                            </div>
                            <div class="ingDisplay-buttonContainer ingDisplay-button02">
                                <button type="button" class="ingButton ingB-vegetables">Vegetables</button>
                            </div>
                            <div class="ingDisplay-ingredients">

                                <div>
                                    <input type="checkbox" name="ingPickle" class="pickle-input veg-inputs"
                                        id="pickleInput" value="Pickles" />
                                    <label class="pickle-label" for="name">Pickles</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingBananaPepper" class="banPepper-input veg-inputs"
                                        id="banPepperInput" value="Banana Peppers" />
                                    <label class="banPepper-label" for="name">Banana Peppers</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingBlackOlive" class="bOlive-input veg-inputs"
                                        id="bOliveInput" value="Black Olives" />
                                    <label class="bOlive-label" for="name">Black Olives</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingPineApple" class="pineapple-input veg-inputs"
                                        id="pineappleInput" value="Pineapples" />
                                    <label class="pineapple-label" for="name">Pineapple</label>
                                </div>


                                <div>
                                    <input type="checkbox" name="ingCucumber" class="cucumber-input veg-inputs"
                                        id="cucumberInput" value="Cucumbers" />
                                    <label class="cucumber-label" for="name">Cucumbers</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingJalapeno" class="jalapeno-input veg-inputs"
                                        id="jalapenoInput" value="Jalapenos" />
                                    <label class="jalapeno-label" for="name">Jalapenos</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingMushroom" class="mushroom-input veg-inputs"
                                        id="mushroomInput" value="Mushrooms" />
                                    <label class="mushroom-label" for="name">Mushrooms</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingMixedPepper" class="mixedPepper-input veg-inputs"
                                        id="mixedPepperInput" value="Mixed Peppers" />
                                    <label class="mixedPeppers-label" for="name">Mixed Peppers</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingTomato" class="tomato-input veg-inputs"
                                        id="tomatoInput" value="Tomatos" />
                                    <label class="tomato-label" for="name">Tomatos</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingOnion" class="onion-input veg-inputs"
                                        id="onionInput" value="Onions" />
                                    <label class="onion-label" for="name">Onions</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingSourKrout" class="sourKrout-input veg-inputs"
                                        id="sourKroutInput" value="Sour Krout" />
                                    <label class="sourKrout-label" for="name">Sour Krout</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="ingShreddedLettuce"
                                        class="shreddedLettuce-input veg-inputs" id="shreddedLettuceInput"
                                        value="Shredded Lettuce" />
                                    <label class="shreddedLettuce-label" for="name">Shredded
                                        Lettuce</label>
                                </div>

                            </div>
                        </div>
                        <div class="submitPizzaContainer">
                            <button type="submit" class="submitPizzaButton" id="submitPizzaButton">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>