<div class="adminEdit-container-right">
    <div class="adminEdit-text-container">
        <p class="adminEdit-text">Pizzas</p>
    </div>
    <div class="adminEdit-post-container">
        <div class="adminEdit-sizes">
            <div class="adminEdit-sizeTable">
                <form class="formEdit" id="editPizza" name="editPizza" method="POST" action="/menu/edit/pizzas">
                    <table class="adminEdit-table">
                        <tr class="tablerow-adminEdit-th">
                            <th>Pizza ID</th>
                            <th>Pizza Name</th>
                            <th>Pizza Price Large</th>
                            <th>Pizza Price Medium</th>
                            <th>Pizza Price Small</th>
                        </tr>
                        {{#each pizzas}}
                        <tr class="tablerow-adminEdit-td1">
                            <td>{{PizzaID}}</td>
                            <td>{{PizzaName}}</td>
                            <td>${{PizzaLargePrice}}</td>
                            <td>${{PizzaMediumPrice}}</td>
                            <td>${{PizzaSmallPrice}}</td>
                        </tr>
                        {{/each}}
                        <tr class="tablerow-adminEdit-td2">
                            <td>#</td>
                            <td>
                                <input type="text" class="nameGlobal-input" placeholder="Pizza Name" name="pizzaname" />
                            </td>
                            <td>
                                <input type="number" class="foodPrice-input" step="0.01" min="0" max="30"
                                    name="pizzalargeprice" placeholder="Large Price" />
                            </td>
                            <td>
                                <input type="number" class="foodPrice-input" step="0.01" min="0" max="30"
                                    name="pizzamediumprice" placeholder="Medium Price" />
                            </td>
                            <td>
                                <input type="number" class="foodPrice-input" step="0.01" min="0" max="30"
                                    name="pizzasmallprice" placeholder="Small Price" />
                            </td>
                        </tr>
                    </table>
                    <div class="whiteTop">
                        <div class="sauceButtonContainer">
                            <button class="sauceButton" type="button" id="sauceButton">Sauces</button>
                        </div>
                        <div class="saucesContainer">
                            <div class="gridContainer">
                                <div class="grid grid-1">
                                    <label class="sauceL sauce1 container">Marinara
                                        <input class="inputSauce inputMarinara" name="ingRedSauce" type="checkbox"
                                            value="Marinara" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="grid grid-2">
                                    <label class="sauceL sauce1 container">BBQ
                                        <input class="inputSauce inputBBQ" name="ingBBQSauce" type="checkbox"
                                            value="BBQ Sauce" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="grid grid-3">
                                    <label class="sauceL sauce1 container">Alfredo
                                        <input class="inputSauce inputAlfredo" name="ingWhiteSauce" type="checkbox"
                                            value="Alfredo" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="grid grid-4">
                                    <label class="sauceL sauce1 container">Ranch
                                        <input class="inputSauce inputRanch" name="ingRanchSauce" type="checkbox"
                                            value="Ranch" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="grid grid-5">
                                    <label class="sauceL sauce1 container">Buffalo
                                        <input class="inputSauce inputBuff" name="ingBuffSauce" type="checkbox"
                                            value="Buffalo Sauce" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="grid grid-1">
                                    <label class="sauceL sauce1 container">Bean
                                        <input class="inputSauce inputBean" name="ingBeanSauce" type="checkbox"
                                            value="Bean Sauce" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="meatsButtonContainer">
                            <button class="meatButton" type="button" id="meatButton">Meats</button>
                        </div>

                        <div class="meatsContainer">
                            <div class="gridContainer">
                                <div class="gridMeats1 grid1">
                                    <label class="container">Pepperoni
                                        <input type="checkbox" value="Pepperoni" name="ingPepperoni" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridMeats1 grid2">
                                    <label class="container">Sausage
                                        <input type="checkbox" value="Sausage" name="ingSausage" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridMeats1 grid3">
                                    <label class="container">Can. Bacon
                                        <input type="checkbox" value="Canadian Bacon" name="ingCanBacon" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridMeats1 grid4">
                                    <label class="container">Salami
                                        <input type="checkbox" value="Salami" name="ingSalami" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridMeats1 grid5">
                                    <label class="container">Bacon B.
                                        <input type="checkbox" value="Bacon Bits" name="ingBaconBit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridMeats2 grid1">
                                    <label class="container">Beef
                                        <input type="checkbox" value="Beef" name="ingBeef" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridMeats2 grid2">
                                    <label class="container">G. Chicken
                                        <input type="checkbox" value="Grilled Chicken" name="ingGChicken" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridMeats2 grid3">
                                    <label class="container">Smoked Sausage
                                        <input type="checkbox" value="Smoked Sausage" name="ingSmokeSausage" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="vegButtonContainer">
                            <button class="vegButton" type="button" id="vegButton">Vegetables</button>
                        </div>

                        <div class="vegContainer">
                            <div class="gridContainer">
                                <div class="gridVeg1 grid1">
                                    <label class="container">Mushroom
                                        <input type="checkbox" value="Mushroom" name="ingMushroom" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg1 grid1">
                                    <label class="container">M. Pepper
                                        <input type="checkbox" value="Mixed Pepper" name="ingMixedPepper" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg1 grid1">
                                    <label class="container">Tomato
                                        <input type="checkbox" value="Tomato" name="ingTomato" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg1 grid1">
                                    <label class="container">Onion
                                        <input type="checkbox" value="Onion" name="ingOnion" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg1 grid1">
                                    <label class="container">Pine Apple
                                        <input type="checkbox" value="Pine Apple" name="ingPineApple" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg2 grid1">
                                    <label class="container">B. Pepper
                                        <input type="checkbox" value="Banana Pepper" name="ingBananaPepper" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg2 grid1">
                                    <label class="container">Pickle
                                        <input type="checkbox" value="Pickle" name="ingPickle" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg2 grid1">
                                    <label class="container">Jalapeno
                                        <input type="checkbox" value="Jalapeno" name="ingJalapeno" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="gridVeg2 grid1">
                                    <label class="container">Black Olive
                                        <input type="checkbox" value="Black Olive" name="ingBlackOlive" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addContainer" id="addSubmitButton">
                        <button type="button" class="addButtonGlobal" id="buttonEdit"
                            onclick="changeButton(), addButton();">Edit Table</button>
                        <button class="submitButton" id="buttonSubmit">Submit<i
                                class="fas fa-angle-double-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>